# sbt
lib_managed
project/project
target

# Worksheets (Eclipse or IntelliJ)
*.sc

# IntelliJ
.idea

# ENSIME
.ensime
.ensime_lucene
.ensime_cache

# Mac
.DS_Store

# Akka Persistence
journal
snapshots

# Log files
*.log
